{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div type='categories_table'>
		<table>
			<tr class="table-warning">
				<th scope="row">Catégories</th>

				{% for category in categories  %}
					<td>{{ category.title }}</td>
					<td>{{ category.description }}</td>
				{% endfor %}
			</tr>
		</table>
	</div>

	<br>
	<hr>
	<div type='categories_table'>
		<table>
			<tr class="table-warning">
				<th scope="row">Utilisateurs</th>

				{% for user in users  %}
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
				{% endfor %}
			</tr>
		</table>
	</div>

{% endblock %}
