{% extends "base.html.twig" %}

{% block body %}
    <h2>Bienvenue sur les mentions légales du forum du BDE de l'école d'ingénieur CESI !</h2>

	    <p>SIREN : 775 722 572
        <br>
         Siège social :
         <br>
         1, avenue du Général de Gaulle
         <br> 
         Tour PB5
         <br> 
         92074 Paris La Défense
         <br> 
         Tél : 01 44 45 92 00
         <br>
          Fax : 01 44 45 92 98
         <br>
          e-mail : <a href="mailto:contact@cesi.fr">contact@cesi.fr</a>
          </p>
          <br>
           
          <h3>Respect de la vie privée et collecte des Données Personnelles<strong>
          <br>
           </strong></h3><p>Soucieux de protéger la vie privée de ses clients, CESI s’engage dans la protection des données personnelles. Une politique sur la protection des données personnelles rappelle nos principes et nos actions visant au respect de la réglementation applicable en matière de protection des données à caractère personnel.</p>
           <p><a href="https://www.cesi.fr/politique-de-confidentialite/">Pour lire l’intégralité de notre politique sur la Protection des données personnelles cliquez-ici</a></p>
           <h3>Sécurité</h3>
           <p>CESI s’engage à mettre en œuvre tous les moyens nécessaires au bon fonctionnement du site. Cependant, CESI ne peut pas garantir la continuité absolue de l’accès aux services proposés par le site. Les adhérents sont informés que les informations et services proposés sur le site pourront être interrompus en cas de force majeure et pourront le cas échéant contenir des erreurs techniques.</p>
           <p><a href="https://www.cesi.fr/politique-de-confidentialite/">Pour plus d’informations, vous pouvez vous référer à la Politique sur le Protection des Données Personnelles en cliquant-ici</a></p><h3>Déclarations d’activité</h3>
           <p>CESI SAS – Société par actions simplifiée au capital de 1.1M€<br> 342 707 502
           <br>
            1, avenue du Général de Gaulle – Tour PB5 – 92074 Paris La Défense<br> Tél. : +33(0) 1 44 19 23 45 – Fax : +33(0) 1 42 50 25 06<br> Déclaration d’activité enregistrée sous le numéro 11 75 39666 75 auprès du Préfet de la région Ile-de-France.
            <br>
             Cet enregistrement ne vaut pas agrément de l’État.</p><p>CESI – associationloi de 1901
            <br>
             775 722 572
            <br>
             1, avenue du Général de Gaulle – Tour PB5 – 92074 Paris La Défense
            <br>
             Tél. : +33(0) 1 44 19 23 45 – Fax : +33(0) 1 42 50 25 06
            <br>
             Déclaration d’activité enregistrée sous le numéro 11 75 47883 75 auprès du Préfet de la région Ile-de-France.
            <br>
             Cet enregistrement ne vaut pas agrément de l’État.</p></section>
{% endblock %}
