{% extends "base.html.twig" %}
{% block body %}
	<h1>Bienvenue sur le forum du BDE !</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At minus ea incidunt dolorum corrupti molestias rem laudantium molestiae suscipit officiis praesentium, provident assumenda! Eum adipisci maiores, eveniet corrupti quod amet quas perspiciatis nisi non sapiente harum quia, sunt labore earum.</p>
	<p>Tenetur animi corrupti voluptas officia sunt? Fugit exercitationem illum, ducimus autem quasi ad eos dolorum sed officia expedita ratione odio, id quae nemo! Pariatur, adipisci dolore accusamus necessitatibus tempore, quisquam mollitia placeat officia assumenda eveniet deserunt voluptatibus quo animi cupiditate!</p>
{% endblock %}
