{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ controller_name }}
{% endblock %}
{% block body %}
	<section class="post">
		<post>
			<h2>Titre du post</h2>
			<div class="metadata">Ecrit le 28/12/2019 à 10:19 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut tempora deserunt ipsam, quasi temporibus.</p>
				<p>Quo voluptates rem, ab quaerat dolorem tempore nam adipisci saepe corporis, rerum, dolorum impedit ratione!</p>
				<a href="{{ path ('blog_show') }}" class="btn btn-warning">Lire la suite</a>
			</div>
		</post>
		<post>
			<h2>Titre du post</h2>
			<div class="metadata">Ecrit le 28/12/2019 à 10:19 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Laboriosam rerum iusto cum aspernatur. Eveniet magnam quod totam, neque impedit tempora aliquid veritatis debitis!</p>
				<p>Corrupti consectetur officiis id velit iste suscipit, modi fugiat, ipsum perferendis autem obcaecati ex est.</p>
				<a href="{{ path ('blog_show') }}" class="btn btn-warning">Lire la suite</a>
			</div>
		</post>
		<post>
			<h2>Titre du post</h2>
			<div class="metadata">Ecrit le 28/12/2019 à 10:19 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Dolore corporis exercitationem ea assumenda odit cupiditate asperiores provident laboriosam similique praesentium, aliquid ex illo.</p>
				<p>Repellendus, corrupti ex? Numquam unde earum excepturi voluptatum praesentium cupiditate, deleniti optio reprehenderit odio sequi!</p>
				<a href="{{ path ('blog_show') }}" class="btn btn-warning">Lire la suite</a>
			</div>
		</post>
	</section>
{% endblock %}
